<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Board id:</strong>
  <%= @topic.board_id %>
</p>

<% @topic.posts.each do |i| %>
	<% @p = i %>
  <%= render 'application/post_template' %>
<% end %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
