<h2><%= @topic.board.name %> : <%= @topic.name %></h2>

<%= render 'application/new_topic_reply_template' %>
<hr/>
<% @topic.posts.each do |i| %>
	<% @p = i %>
  <%= render 'application/post_template' %>
<% end %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
