<p id="notice"><%= notice %></p>

<h1>Listing Boards</h1>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>#</th>
      <th>url</th>
      <th>name</th>
      <th>description</th>
      <th>posts (<%= Post.all.size %>)</th>
      <th>tags</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |b| %>
    <tr>
      <td><%= b.id %></td>
      <td>/ <%= b.url %> /</td>
      <td><%= b.name %></td>
      <td><%= b.description %></td>
      <td><%= b.posts.size %> (<%= precentage(b.posts.size, Post.all.size) %>%)</td>
      <td><% if b.nsfw? %>
        &nbsp;<span class="label label-danger">nsfw</span>
        <% end
        unless b.visible? %>
        &nbsp;<span class="label label-warning">hidden</span>
        <% end %>
      </td>
      <td><%= link_to '', b.url, class:"btn btn-xs btn-default glyphicon glyphicon-eye-open" %>
        <% if admin? %>
        <%= link_to '', edit_board_path(b), class:"btn btn-xs btn-default glyphicon glyphicon-pencil" %>
        <%= link_to '', b, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-xs btn-default glyphicon glyphicon-trash" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Board', new_board_path, class:"btn btn-primary" %>
