<h1>&frasl;&nbsp;<%= @board.url %>&nbsp;&frasl; <%= @board.name %></h1>

<div style="font-size: 1.2em;padding-bottom: 1em;">
<% if @board.nsfw? %>
 <span class="label label-danger">nsfw</span>
<% end %>
<% unless @board.visible? %>
 <span class="label label-warning">hidden</span>
<% end %>&nbsp;
<%= @board.description %></div>
<hr/>
<%= render 'application/new_topic_template' %>
<hr/>
<%= @board.topics.size-1 %> threads
<hr/>
<% @board.topics.each do |t| %>
  <% @t=t %>
  <% if @t.op.valid? %>
  	<%= render 'application/topic_template' %>
  <% end %>
<% end %>