<%# form_for(@new_post) do |f| %>
<%= form_for(@new_post, :html => { :multipart => true }) do |f| %>
  <% if @new_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @new_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :topic_id, value:@new_post.topic_id.to_s %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :show_name %><br>
    <%= f.select :show_name, Post.show_names.keys %>  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%# f.file_field :file, :multiple => true, name: "post_attachments[file][]" %>
    <%= f.file_field :attachment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
