<h3>Reply to thread</h3>
<%= form_for(@new_post, :html => { :multipart => true }) do |f| %>
  <% if @new_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @new_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :topic_id, value:@new_post.topic_id.to_s %>
  <div class="form-group row">
    <%= f.label :content, "content", class:"col-sm-2 form-control-label"%>
    <div class="col-sm-10">
    <%= f.text_area :content,class:"form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :author, "nick", class:"col-sm-2 form-control-label"%>
    <div class="col-sm-10">
     <div class="col-sm-3" style="float:left;padding-left:0;">
        <% if current_user %>
           <%= f.select :show_name, options_for_select([['anonymous','anonymous'],['nick','nick'],['registered nick','registered'],['real name','real_name']]),{},{class:"form-control",id:"nickselect"} %>
          <% else %>
          <%= f.select :show_name, options_for_select([['anonymous','anonymous'],['nick','nick']]),{},{class:"form-control",id:"nickselect"} %>
          <% end %>
        </div> <div class="col-sm-9" style="float:right;padding-right:0;">
    <%= f.text_field :author,class:"form-control",placeholder:"nick",id:"nickfield" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
    <%= f.submit class:"btn btn-sm btn-primary"%>
    </div>
    <div class="col-sm-10">
    <%= f.file_field :attachment %>
    </div>
  </div>
<% end %>
