<ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="#">Hi there</a></li>
	<li><a href="#">Sidenav...</a></li>
	<li><a href="#">Yes</a></li>
	<li><a href="#">This is it</a></li>
</ul>
<ul class="nav nav-sidebar">
	<li><a href="/topics">Topics</a></li>
	<li><a href="/posts">Posts</a></li>
	<% if admin? %>
	<li><a href="/boards">Threads</a></li>
	<% end %>
</ul>
<% unless visible_boards.empty? %>
<% active_board=(not @board.nil?) ? @board.id : nil -%>
<ul class="nav nav-pills nav-stacked">
	<li class="nav-divider"></li>
	<% visible_boards.each do |b| %>
	<% classes=""
		if b.id==active_board
			classes=classes+"active"
		end %>
	<% unless b.nsfw? %>
	<li class="<%= classes %>"><%= link_to "/"+b.url+"/ "+b.name, "/"+b.url+"/" %></li>
	<% else %>
	<li class="<%= classes %>"><a href="/<%= b.url %>/">/<%= b.url %>/&nbsp;<%= b.name %>&nbsp;<span class="label label-danger">nsfw</span></a></li>
	<% end %>
	<% end %>
</ul>
<% end %>